 html {
	 font-size: 20px;
	 /*width: 100%;
	 height: 100%;*/
 }
 
 body {
	overflow: hidden;
	margin: 0rem;
}
#chat_box {
	background-color: #212121;
	transform: skew(-20deg, 0deg);
	font-family: "Caviar Dreams", Verdana, Geneva, sans-serif;
	font-size: 0.813rem;
	font-style: normal;
	font-variant: normal;
	font-weight: bold;
	position: absolute;
	overflow: hidden;
	color: #DEDEDE;
	/*width: calc(100% - 0.625rem);*/
	text-align: right;
	white-space: nowrap;
	height: 1.5rem;
	line-height: 1.5rem;
}
/*#chat_box.dark {
	background: rgba(0,0,0,0.3);
	color: #fff;
}
#chat_box.light {
	background: rgba(255,255,255,0.3);
	color: #000;
}*/
.nick-bg {
	padding-top: 0.25rem;
	padding-bottom: 0.25rem;
	padding-left: 0.35rem;
	padding-right: 0.75rem;
	transform: skew(20deg, 0deg);
}
.msg-bg {
	padding-left: 0.5rem;
	padding-right: 0.5rem;
	padding-top: 0.25rem;
	padding-bottom: 0.25rem;
	margin-left: 0.25rem;
	/*margin-right: 0.188rem;*/
}
.nick, .msg {
	transform: skew(20deg, 0deg);
	display: inline-block;
}
.nick {
	margin-left: 0.4rem;
}

.tag {
	display: inline-block;
	background-repeat: no-repeat;
	background-size: contain;
	background-position: 0 center;
	height: 0.75rem;
	min-width: 0.75rem;
	
	padding-bottom: 0.6rem;
	
	/*text-indent: 1.313rem;
	background-position: 0 center;
	margin-right: 0.25rem;
	padding-top: 0.2rem;
	display: inline-block;
	vertical-align: sub;
	height: 1rem;
	min-width: 1rem;
	width: expression(document.body.clientWidth < $width ? "18px":"auto");
	padding: 0;
	margin-right: 0.188rem;
	margin-bottom: -0.063rem;
	text-indent: -624.938rem;
	border-radius: 0.125rem;
	-moz-border-radius: 0.125rem;
	-webkit-border-radius: 0.125rem;
	overflow: hidden;
	*/
	transform: skew(20deg, 0deg);
}
/*.chat_line {
	margin-left: 0.188rem;
	margin-right: 0.188rem;
	padding-top: 0.125rem;
	padding-bottom: 0.188rem;
	line-height: 1.250rem;
	transform: skew(20deg, 0deg);
	display: inline-block;
}*/
.chat_line .message {
	/*word-break: break-all;
	*/
	word-wrap: break-word;
}
.chat_line .time_stamp {
	display: none;
	padding-right: 0.188rem;
	transform: skew(20deg, 0deg);
	display: inline-block;
}
.emoticon {
    margin-bottom: 0rem;
    /* Min-width/height are enforced to some scale of 18x18.
     * Max-height is set to compensate for srcset scaling,
     * else larger scales produce giant emoticons with 3x img scale
     
    min-width:1.1rem;
    min-height:1.1rem;*/
    max-height:1rem;
    /* Aligns with the vertical center of the line */
    vertical-align: sub;
}
.cheermote {
    width: auto;
    max-height: 1rem;
	transform: skew(20deg, 0deg);
	display: inline-block;
}
.login {
	font-size: 0.65rem;
}

.usernotice {
	font-size: 0.6rem;
	vertical-align: top;
	color: #212121;
	background-color: #dedede;
	padding: 0.15rem;
	border-radius: 1rem;
}

.moderator-1-bg {
	background-color: #00AD1D;
}

.tag-bg {
	padding-bottom: 0.25rem;
	padding-left: 0.12rem;
	padding-right: 0.12rem;
    padding-top: 0.25rem;
	/*margin-right: 0.2rem;*/
}

.premium-1-bg {
	background-color: #00A0D6;
}

.partner-1-bg {
	background-color: #9146FB;
}

.vip-1-bg {
	background-color: #E005B9;
}

.founder-0-bg {
	background-image: linear-gradient(rgba(146,70,251,1), rgba(249,30,210,1));
}

.admin-1-bg {
	background-color: #DB761C;
}

.bits-1-bg {
	background-color: #CBC8D0;
}

.bits-100-bg {
	background-color: #CA7FFC;
}

.bits-1000-bg {
	background-color: #3FD8B3;
}

.bits-5000-bg {
	background-color: #49ACFC;
}

.bits-10000-bg {
	background-color: #FF271E;
}

.bits-25000-bg {
	background-color: #F560AB;
}

.bits-50000-bg {
	background-color: #FF8822;
}

.bits-100000-bg {
	background-color: #FFCB2D;
}

.bits-200000-bg, .bits-300000-bg, .bits-400000-bg, .bits-500000-bg, .bits-600000-bg, .bits-700000-bg, .bits-800000-bg, .bits-900000-bg{
	background-color: #392D5D;
}

.broadcaster-1-bg {
	background-color: #E91916;
}

.clip-champ-1-bg {
	background-color: #9146FB;
}

.global_mod-1-bg {
	background-color: #006441;
}

.staff-1-bg {
	background-color: #000000;
}
